<div class="container">
  <div class="user-login">

    <header>
      <div class="logo">
        <span class="hidden-folded m-l-xs fa-stack">
          <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
          <i class="fa fa-hourglass-end fa-stack-1x"></i>
        </span>
        <span class="logo-text">NTI-GO</span>
      </div>
      <div>
        <ul class="nav nav-pills" role="tablist">
          <li role="presentation"><a ui-sref="home">Home</a></li>
          <li role="presentation"><a ui-sref="profile">Profile</a></li>
          <li role="presentation"><a href="#">Settings</a></li>
          <li role="presentation"><a href="#">Messages</a></li>
          <li role="presentation"><a ng-click='logout()'>Logout</a></li>
        </ul>
      </div>
    </header>

    <section class="whole-login">
      <section class="login">
        <div>
          <h1>Clock In</h1>
          <div ng-repeat="user in user">{{firstname}}</div>
          <form class="form-horizontal" role="form" method="post" ng-submit="login(loginEmail, loginPassword)">
            <div class="form-group">
              <select class="form-control" required ng-model="location">
                <option value="">Please choose a job location.</option>
                <option>Legacy Tower</option>
                <option>The Perot Museum</option>
                <option>Tom Thumb (Uptown)</option>
                <option>Crystal Bridges Museum of American Art</option>
                <option>Cowboy Stadium</option>
              </select>
            </div>
            <h3>{{headerAttr}}</h3>
            <div>
              <div id="clock">{{timer | date:'h:mm:ss'}}</div>
              <button type="submit" class="btn btn-primary clkbtn" ng-class="{redbtn: clockedIn}" ng-click="toggleTimer()">{{mode}}</button>
            </div>
            <div>
              <table>
                <thead>
                  <tr>
                    <th>Clock in</th>
                    <th>Clock out</th>
                    <th>Duration</th>
                  </tr>
                </thead>
                <tbody ng-repeat="item in timeSchedule.history">
                  <tr>
                    <td>{{item[0] | date:'MM/dd HH:mm:ss'}}</td>
                    <td>{{item[1] | date:'MM/dd HH:mm:ss'}}</td>
                    <td>{{item[2] | number:1}}</td> <!-- number:1 filters to 0.0 instead of 0.00 -->
                  </tr>
                </tbody>
              </table>
              <div>
          </form>

          </div>
      </section>
    </section>

    <footer></footer>
  </div>
</div>
