<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>NTI-GO Sign In</title>
  <link rel="stylesheet" href="./css/main.css">
  <!-- Bootstrap Core CSS -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom Fonts -->
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body>

<div class="user-login">

  <header>
    <div class="logo">
      <span class="hidden-folded m-l-xs fa-stack">
          <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
          <i class="fa fa-hourglass-end fa-stack-1x"></i>
        </span>
      <span class="logo-text">NTI-GO</span>
    </div>
  </header>

  <section class="whole-login">
    <section class="login">
      <div>
          <h1>Login</h1>
          <form class="form-horizontal" role="form" method="post" ng-submit="login(loginEmail, loginPassword)">
            <div class="form-group">
              <div>
                <input name="email" type="email" class="form-control" id="inputEmail" placeholder="Enter email" tabindex="1" ng-model="loginEmail">
              </div>
            </div>
            <div class="form-group">
              <div>
                <input name="password" type="password" class="form-control" id="password" placeholder="Password" tabindex="2" ng-model="loginPassword">
              </div>
            </div>
            <button type="submit" class="btn btn-primary gtbtn">Submit</button>
            <hr>
            <p>
              <a ui-sref="register">Need an account?</a>
            </p>
          </form>
      </div>
    </section>
  </section>
</div>

  <!-- Jquery 1.9.1 -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
  <!-- minified Bootstrap JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

</body>
</html>
